.photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;
  justify-content: center;
  padding: 50px;
  list-style-type: none;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}